<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="crystal.png" />
  </head>

  <body>
    <div class="main_nav1">
      <div class="container">
        <div class="mobile-toggle">
          <span></span> <span></span> <span></span>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a class="smoothscroll" href="/about">About</a></li>
            <li><a href="/features">Skills</a></li>
            <li><a href="/subscription">Subscription</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section id="about">
      <div class="container">
        <div class="row">
          <h1>About</h1>
          <div class="block"></div>
          <p>
            Skill Check is an innovative and brand new mobile application that
            was made for learning and teaching purposes. People tend to learn
            and gain new information and skills, and suddenly, a lot of learning
            methods appeared, due to WEB expansion. We offer you a unique
            learning method that is connected with a simple swipe function.
          </p>
        </div>
        <div class="row">
          <div class="six columns">
            <h3>
              <span class="typcn typcn-device-phone icon"></span>Our Process
            </h3>
            <p>
              We are creating a tinder-like mobile app, where people can share
              their skills, and choose others. You can learn new skills, but
              bear in mind that at the same time, you will teach someone else.
              Formula is simple: I teach you, You teach me.
            </p>
          </div>
          <div class="six columns">
            <h3><span class="typcn typcn-pen icon"></span>Our Approach</h3>
            <p>
              We want to create a swiping function app, where you can find a
              person that will teach you certain skills. When matching is being
              done between two persons, they are ready to communicate and
              develop their skills.
            </p>
          </div>
          <div class="row">
            <div class="six columns">
              <h3>
                <span class="typcn typcn-cog-outline icon"></span>Our Goal
              </h3>
              <p>
                Our goal is to make sure, that our learning method will be the
                most efficient. We aspire to make a platform where people can
                share their skills that they've been collecting for months and
                years, so they can spread it around the world.
              </p>
            </div>
            <div class="six columns">
              <h3>
                <span class="typcn typcn-lightbulb icon"></span>Our Mission
              </h3>
              <p>
                We are aspiring to create a strong community that will share all
                they have collected for the long period of time, and transfere
                it to the other person.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
