<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skill Check</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="crystal.png" />
  </head>

  <body>
    <header id="header">
      <div class="main_nav">
        <div class="container">
          <div class="mobile-toggle">
            <span></span> <span></span> <span></span>
          </div>
          <nav>
            <ul>
              <li><a class="smoothscroll" href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/features">Skills</a></li>
              <li><a href="/subscription">Subscription</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="title">
        <div><span class="typcn typcn-device-phone icon heading"></span></div>
        <div class="smallsep heading"></div>
        <h1 class="heading">Skill Check</h1>
        <h2 class="heading">Learning Mobile App</h2>
        <h2 class="heading">Fact of the day: <%= fun_fact %></h2>
        <a class="smoothscroll" href="#about">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
        </a>
      </div>
      <a class="smoothscroll" href="#about">
        <div class="scroll-down"></div>
      </a>
    </header>

    <section id="contact">
      <div class="container">
        <h1>Register</h1>
        <div class="block"></div>
        <div>
          <div class="row">
            <div class="six columns">
              <label for="exampleRecipientInput">Username</label>
              <input
                id="username"
                name="username"
                class="u-full-width"
                type="text"
              />
            </div>
            <div class="six columns">
              <label for="exampleEmailInput">Email</label>
              <input id="email" name="email" class="u-full-width" type="text" />
            </div>
          </div>
          <div class="row">
            <label for="examplePassword">Password</label>
            <input
              id="password"
              name="password"
              class="u-full-width"
              type="password"
            />
            <button
              class="submit_btn button-primary"
              onclick="checkDataRegister()"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <h1>Login</h1>
        <div class="block"></div>
        <div>
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Email</label>
              <input
                id="emailLogin"
                name="emailLogin"
                class="u-full-width"
                type="text"
              />
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label for="examplePassword">Password</label>
              <input
                id="passwordLogin"
                name="passwordLogin"
                class="u-full-width"
                type="password"
              />
            </div>
          </div>
          <div class="row">
            <button class="submit_btn button-primary" onclick="login()">
              Login
            </button>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="nine columns">
          <p>
            maxatic. Danik :) Aliba
            <img
              style="width: 20px; height: 20px"
              src="https://i1.sndcdn.com/avatars-000411292317-dt2f28-t500x500.jpg"
            />
          </p>
        </div>
        <div class="three columns">
          <span class="typcn typcn-social-facebook-circular socialIcons"></span>
          <span
            class="typcn typcn-social-instagram-circular socialIcons"
          ></span>
          <span
            class="typcn typcn-social-google-plus-circular socialIcons"
          ></span>
          <span class="typcn typcn-social-linkedin-circular socialIcons"></span>
        </div>
      </div>
    </footer>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
<script>
  function checkDataRegister() {
    const nameInput = $("#username").val();
    const emailInput = $("#email").val();
    const passwordInput = $("#password").val();
    if (
      emailInput.length <= 0 ||
      nameInput.length <= 0 ||
      passwordInput.length <= 0
    ) {
      alert("All fields are necessary to be filled!");
    } else {
      axios
        .post("/verification/email", {
          email: emailInput,
        })
        .then((res) => {
          const emailResult = res.data;
          if (emailResult == "yes") {
            axios
              .post("/api/signup", {
                username: nameInput,
                email: emailInput,
                password: passwordInput,
              })
              .then((res) => {
                if (res.status === 201) {
                  alert("You have been succesfully signed up!");
                }
              })
              .catch((error) => {
                alert(error.response.data);
              });
          } else {
            console.log(1);
            alert(emailResult);
          }
        })
        .catch((error) => console.log(error));
    }
  }

  async function login() {
    const emailLogin = document.getElementById("emailLogin").value;
    const passwordLogin = document.getElementById("passwordLogin").value;

    axios
      .post("/api/login", {
        email: emailLogin,
        password: passwordLogin,
      })
      .then((res) => {
        if (res.data.status === "ok") {
          console.log("Got the token: ", res.data);
          localStorage.setItem("token", res.data);
          alert("You have been succesfully logged in!");
        } else {
          console.log(res);
        }
      })
      .catch((error) => alert(error.response.data));
  }
</script>
